<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FotoServlet</servlet-name>
        <servlet-class>Servlets.FotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FotoServletGetLastPicture</servlet-name>
        <servlet-class>Servlets.FotoServletGetLastPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllJourneysServlet</servlet-name>
        <servlet-class>Servlets.getAllJourneysServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newUserServlet</servlet-name>
        <servlet-class>Servlet.newUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getJourneyFromUser</servlet-name>
        <servlet-class>Servlets.getJourneyFromUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newGebruiker</servlet-name>
        <servlet-class>Servlets.newGebruiker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTussenstopsJourney</servlet-name>
        <servlet-class>Servlets.GetTussenstopsJourney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindTodos</servlet-name>
        <servlet-class>Servlets.FindTodos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindInteresses</servlet-name>
        <servlet-class>Servlets.FindInteresses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindUserRating</servlet-name>
        <servlet-class>Servlets.FindUserRating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserRating</servlet-name>
        <servlet-class>Servlets.AddUserRating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFollowers</servlet-name>
        <servlet-class>Servlets.GetFollowers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRating</servlet-name>
        <servlet-class>Servlets.AddRating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTodo</servlet-name>
        <servlet-class>Servlets.AddTodo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFollowing</servlet-name>
        <servlet-class>Servlets.GetFollowing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFollowing</servlet-name>
        <servlet-class>Servlets.AddFollowing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>FotoServlet</servlet-name>
        <url-pattern>/image/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FotoServletGetLastPicture</servlet-name>
        <url-pattern>/imageLast/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllJourneysServlet</servlet-name>
        <url-pattern>/getAllJourneysServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newUserServlet</servlet-name>
        <url-pattern>/newUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getJourneyFromUser</servlet-name>
        <url-pattern>/getJourneyFromUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTussenstopsJourney</servlet-name>
        <url-pattern>/GetTussenstopsJourney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newGebruiker</servlet-name>
        <url-pattern>/newGebruiker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindTodos</servlet-name>
        <url-pattern>/FindTodos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindInteresses</servlet-name>
        <url-pattern>/FindInteresses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindUserRating</servlet-name>
        <url-pattern>/FindUserRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserRating</servlet-name>
        <url-pattern>/AddUserRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFollowers</servlet-name>
        <url-pattern>/GetFollowers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRating</servlet-name>
        <url-pattern>/AddRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTodo</servlet-name>
        <url-pattern>/AddTodo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFollowing</servlet-name>
        <url-pattern>/GetFollowing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFollowing</servlet-name>
        <url-pattern>/AddFollowing</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
